# Engine de simulation:
# - CDSimulator: simulation cyclique (CDProtocol + Control)
sim.engine = peersim.cdsim.CDSimulator
# Nombre total de cycles simulés
simulation.cycles = 10

# Taille initiale du réseau (nombre de nodes PeerSim)
network.size = 8


# Protocole installé sur chaque nœud à l'index PID 0
protocol.0 = com.example.peersimdjl.ChordProtocol

# Contrôles exécutés à chaque cycle:
# - init: initialise l'anneau Chord et les finger tables
# - DynamicControl: ajoute/supprime/crash des nodes et lance tests DHT
# - dataset: scénario dataset/batches + logs repositories
control.init = com.example.peersimdjl.InitControl
control.init.pids = 0
control.DynamicControl = com.example.peersimdjl.DynamicControl
control.DynamicControl.pids = 0